<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcuticon"href="{{url_for('static',filename='favicon.ico')}}"type="image/x-icon"></linkrel>
    <title>{{ name }}'s WatchList</title>
</head>
<body>
    <h2>{{ name }}'s WatchList</h2>
    {# 使用length过滤器获取movies变量的长度 #}
    <p>{{ movies|length }} Titles</p >
    <ul>
        {% for movie in movies %}
        <li>{{ movie.title }} - {{ movie.year }}</li>
        {% endfor %}
    </ul>

    <footer>
        <small>&copy; 2020 <a href=" ">北京网络职业技术学院-人工智能学科</a></small>
    </footer>
</body>
</html>